.navbar-brand img{
    height: 8vh;
}

.section-title h2{
    color: white;
    font-size: 5vh;
}
p#textoInicio{
    color: rgb(255, 255, 255);
}
.cardPerson p, img{
    margin-bottom: 5%;
}
.alignI{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}
#vmv{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}
